{% extends 'base.html.twig' %}

{% block title %}Conferencias{% endblock %}

{% block body %}
    <h1>Conferencias</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ conferencia.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ conferencia.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ conferencia.descripcion }}</td>
            </tr>
            <tr>
                <th>Duracion</th>
                <td>{{ conferencia.duracion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('conferencias_index') }}">back to list</a>

    <a href="{{ path('conferencias_edit', {'id': conferencia.id}) }}">edit</a>

    {{ include('conferencias/_delete_form.html.twig') }}
{% endblock %}
